$color-primary: #bf0707;
$color-secondary: #a8a8a8;
$font-size-primary: 20px;
$font-size-secondary: 18px;
$font-size-third: 16px;
$padding-top: 40px;
$padding: 80px;
$p-spacer-primary: 20px;
$m-spacer-primary: 20px;
